__pycache__/asset_manager.cpython-311.pyc
__pycache__/camera.cpython-311.pyc
__pycache__/chunk_manager.cpython-311.pyc
__pycache__/engine.cpython-311.pyc
__pycache__/graphics_engine.cpython-311.pyc
__pycache__/input_manager.cpython-311.pyc
__pycache__/inventory.cpython-311.pyc
__pycache__/physics_engine.cpython-311.pyc
*.png
*.ttf
*.otf
*.jpg
*.webp
__pycache__/player.cpython-311.pyc
__pycache__/procgen.cpython-311.pyc
__pycache__/settings.cpython-311.pyc
__pycache__/sprite_manager.cpython-311.pyc
*.pyc
